.Dashboard {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  .Row {
    width: 100%;
    color: whitesmoke;
    .Details {
      .Col {
        display: flex;
        justify-content: center;
        p {
          font-weight: bold;
          font-size: 25px;
        }
      }
      img {
        object-fit: cover;
        width: 300px;
        height: 300px;
        border-radius: 25px;
        margin-bottom: 5vh;
      }
    }
  }
  .Menu {
    .Selected {
      color: white;
      font-weight: bolder !important;
    }
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    .ListGroup {
      width: 50%;
      font-size: 22px;
      cursor: pointer;
      background-color: transparent;
      .ListItem {
        text-align: center;
        background-color: transparent;
        margin: 10px;
        border: 1px solid transparent;
        font-weight: normal;
      }
      .ListItem:hover {
        color: white;
      }
    }
  }
}

@media (max-width: 575px) {
  .Dashboard {
    height: auto;
    .Row {
      .Details {
        img {
          width: 150px;
          height: 150px;
          margin-bottom: 5vh;
        }
      }
    }
    .Menu {
      .ListGroup {
        width: unset;
        flex-direction: unset;
        font-size: unset;
        .ListItem {
          margin: 0;
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 1000px) {
  .Dashboard {
    height: auto;
    .Menu {
      .ListGroup {
        width: unset;
        flex-direction: unset;
        font-size: 20px;
      }
    }
  }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .Dashboard {
    height: 65%;
    .Menu {
      .ListGroup {
        width: unset;
        flex-direction: unset;
        font-size: 25px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .Dashboard {
    height: 100%;
    .Menu {
      .ListGroup {
        width: unset;
        flex-direction: unset;
        font-size: 25px;
      }
    }
  }
}
