.Container {
  height: 500px;
  padding: 0 100px;
  .ActiveUsers {
    display: flex;
    align-items: center;
    overflow-x: auto;
    .User {
      padding: 10px;
      text-align: center;
      cursor: pointer;
      position: relative;
      p {
        margin: 0;
      }
      img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }
      .Notification {
        position: absolute;
        top: 8%;
        right: 20%;
      }
    }
  }
  .ActiveUsers::-webkit-scrollbar {
    width: 1em;
  }
  .ActiveUsers::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .ActiveUsers::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border: 0;
  }

  .ChatBox {
    height: 90%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    .ChatHead {
      display: flex;
      justify-content: space-between;
      background: rgb(13, 21, 39);
      color: whitesmoke;
      font-weight: bold;
      padding: 15px;
      svg {
        font-size: 25px;
        cursor: pointer;
      }
      span {
        font: 15px;
      }
    }
    .Messages {
      background: whitesmoke;
      color: black;
      font-size: 20px;
      border: 0;
      overflow-y: auto;
      height: 70%;
      padding: 15px;
      font-size: 15px;
      ul {
        padding: 0;
        .MsgTitle {
          display: flex;
          align-items: center;
          span {
            font-size: 17px;
          }
          img {
            height: 30px;
            width: 30px;
            margin-right: 15px;
            border-radius: 25px;
          }
          margin-bottom: 10px;
        }

        .MyMsg {
          margin-bottom: 20px;
          padding: 10px 20px;
          background-color: #dbdde6;
          border-radius: 25px;
        }
        .OtherMsg {
          margin-bottom: 20px;
          padding: 10px 20px;
          background-color: #c695c9;
          border-radius: 25px;
        }
      }
    }
    .Controles {
      background-color: rgb(13, 21, 39);
      padding: 11px;
      display: flex;
      align-items: center;
      svg {
        font-size: 30px;
      }
      input {
        width: 80%;
        padding: 20px;
        border: 0;
        border-radius: 20px;
        height: 40px;
      }
      button {
        padding: 0;
        background: transparent;
        border: 0px;
        box-shadow: unset;
        border-radius: 0;
        color: whitesmoke;
        font-size: 15px;
        text-align: center;
        width: 20%;
        background-color: unset !important;
      }
    }
    .InfoIcon {
      svg {
        color: whitesmoke;
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 575px) {
  .Container {
    padding: 0;
    .ActiveUsers {
      .User {
        p {
          font-size: 13px;
        }
        img {
          width: 65px;
          height: 65px;
        }
        .Notification {
          position: absolute;
          top: 8%;
          right: 20%;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 1000px) {
  .Container {
    padding: 0 100px;
    .ChatBox {
    }
  }
}

@media (min-width: 1000px) {
  .Container {
    padding: 0 100px;
    .ChatBox {
      width: 450px !important;
    }
  }
}
