.Container {
  height: 500px;
  .ActiveUsers {
    display: flex;
    align-items: center;
    overflow-x: auto;
    .User {
      padding: 10px;
      text-align: center;
      cursor: pointer;
      position: relative;
      p {
        margin: 0;
      }
      img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }
      .Notification {
        position: absolute;
        top: 8%;
        right: 20%;
      }
    }
  }
  .ActiveUsers::-webkit-scrollbar {
    width: 1em;
  }
  .ActiveUsers::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .ActiveUsers::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border: 0;
  }

  .ChatBox {
    border: 0.5px solid whitesmoke;
    height: 70%;
    position: relative;
    .ChatHead {
      background-color: gray;
      padding: 5px 10px;
      height: 10%;
      span {
        font: 15px;
      }
    }
    .Messages {
      height: 80%;
      overflow-y: auto;
      padding: 20px 13px;

      ul {
        padding: 0;
      }
    }
    .Controles {
      background-color: gray;
      height: 10%;
      padding: 3px;
      input {
        width: 80%;
      }
      button {
        padding: 0;
        background: transparent;
        border: 0px;
        box-shadow: unset;
        border-radius: 0;
        color: whitesmoke;
        font-size: 15px;
        text-align: center;
        width: 20%;
        background-color: unset !important;
      }
    }
    .BluredChat {
      position: absolute;
      right: 1%;
      top: 1%;
      svg {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 575px) {
  .Container {
    .ActiveUsers {
      .User {
        p {
          font-size: 13px;
        }
        img {
          width: 65px;
          height: 65px;
        }
        .Notification {
          position: absolute;
          top: 8%;
          right: 20%;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 1000px) {
  .Container {
    padding: 0 100px;
    .ChatBox {
      height: 70%;
    }
  }
}

@media (min-width: 1000px) {
  .Container {
    .ChatBox {
      width: 450px !important;
    }
  }
}
