.Home {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(350deg, #060c14 45%, #0d1527 70%);
  display: flex;
  align-items: center;
  padding: 150px;
  position: relative;
  h1 {
    color: whitesmoke;
    font-size: 100px;
    font-weight: bolder;
    span {
      font-weight: 50 !important;
    }
  }
  button {
    background-color: rgb(204, 19, 204);
    border: 0;
    font-size: 30px;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    a {
      color: white;
      text-decoration: none;
    }
    box-shadow: 0px 0px 3px 3px purple;
  }
  button:hover {
    background-color: purple;
    transition: 0.4s ease-in-out;
  }
}

.Container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 150px;
}

.Events {
  background-color: #1b2845;
  background-image: linear-gradient(350deg, #0d1527 45%, #060c14 70%);
}

.Contacts {
  background-color: #1b2845;
  background-image: linear-gradient(350deg, #060c14 45%, #0d1527 70%);
}

@media (max-width: 575px) {
  .Container {
    padding: 50px 20px 0px 20px;
  }
  .Home {
    height: auto;
    background-position-x: center;
    display: flex;
    align-items: center;
    padding: 50px 10px 10px 10px;

    h1 {
      color: whitesmoke;
      font-size: 50px;
      font-weight: bolder;
      span {
        font-weight: 50 !important;
      }
    }
    button {
      background-color: purple;
      border: 0;
      font-size: 15px;
      border-radius: 25px;
      padding: 10px 30px 10px 30px;
      a {
        color: white;
        text-decoration: none;
      }
      color: white;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 1200px) {
  .Home {
    padding: 150px;
    height: auto;
  }
}
// @media (max-width: 1201px) {
//   .Home {
//     padding: 0px 50px 0 50px;
//   }
// }
