.Container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 575px) {
  .Container {
  }
}

@media screen and (min-width: 576px) {
  .Container {
  }
}

@media (min-width: 1200px) {
  .Container {
  }
}
