.Container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('/assets/mainpage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.SignUp {
  background-color: white;
  padding: 50px;
  border-radius: 25px;
  width: 500px;
  form {
    display: grid;
  }
  button {
    justify-self: end;
    background-color: transparent;
    color: gray;
    border: 1px solid gray;
  }
  button:hover,
  button:active,
  button:focus {
    background-color: gray !important;
    color: whitesmoke;
    border: 1px solid whitesmoke !important;
  }
  a {
    color: #3f51b5;
  }
}

@media (max-width: 575px) {
  .SignUp {
    width: 100%;
    margin: 20px;
    padding: 20px;
  }
  .Container {
    background-position-x: center;
  }
}
