.Settings {
  height: 500px;
  .PopOver {
    background-color: black;
  }
  .Col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .SubmitButton {
      background-color: whitesmoke !important;
      border: 1px solid transparent;
      color: black;
      font-size: unset;
      border-radius: 25px;
      padding: 15px 15px 15px 15px;
      box-shadow: unset;
    }
    .SubmitButton:hover {
      background-color: transparent;
      border: 1px solid whitesmoke;
      color: black;
      transition: 0.4s ease-in-out;
    }
    .PassButton {
      background-color: whitesmoke !important;
      border: 1px solid transparent;
      color: black;
      font-size: unset;
      border-radius: 0;
      padding: 15px 15px 15px 15px;
      box-shadow: unset;
    }
    .ErrorMessage {
      color: red;
    }
    .OldPassword:focus + .ErrorMessage {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  .Settings {
    form {
      font-size: 15px;
      input {
        width: 95%;
        margin-bottom: 10px;
      }
    }
  }
  .SubmitButton {
    margin-top: 20px;
  }

  .PassButton {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 250px;
    padding: 0px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 1000px) {
  .Settings {
    padding: 20px 100px;
    form {
      font-size: 20px;
      input {
        width: 95%;
        margin-bottom: 10px;
      }
    }
    .SubmitButton {
      margin-top: 20px;
    }

    .PassButton {
      margin-bottom: 10px;
      margin-right: 10px;
      width: 250px;
      height: 40px;
      font-size: 15px !important;
      padding: 0px !important;
    }
  }
}

@media (min-width: 1000px) {
  .Settings {
    .SubmitButton {
      margin-top: 20px;
    }
    form {
      font-size: 20px;
      input {
        width: 95%;
        margin-bottom: 10px;
      }
    }

    .PassButton {
      margin-bottom: 10px;
      margin-right: 10px;
      font-size: 15px !important;
      width: 150px;
      padding: 0px !important;
    }
  }
}
